#body{
    font-size: small;
}
#top_bar{
    position: fixed;
    top: 3%;
}
#top_left{
    font-size: small;
    position: fixed;
    left: 2%;
}

#top_right{
    font-size: small;
    position: fixed;
    top: 1%;
    right: 1%;
}
#center-content{
    display: inline-block;
    position: fixed;
    top: 25%;
    left: 40%;
    height: 50;
    width: 50%;
}
#buttons{
    position: fixed;
    top: 55%;
    left: 40%;
}
#left_bottom{
    position: fixed;
    bottom: 1%;
    left: 1%;
}
#right_bottom{
    position: fixed;
    bottom: 1%;
    right: 1%;
    margin: 1%;
}

#about{
    display: inline;
    padding: 10px;
}
#store{
    display: inline;
}
#gmail{
    display: inline;
    padding: 7px

}
#Images{
    display: inline;
    padding: 7px

}
#Google_Apps{
    display: inline;
    padding: 9px
}
#Sign-In{
    display: inline;
    padding: 7px
}
#google_logo{
    padding: 20px;
}
#magnifyingglass{
    display: inline;
}
#textbox{
    display: inline;
    font-size: large;
    position: fixed;
    left: 40%;
    width: 30%;
    border-radius: 12%;
}
#buttons{

}
#advertising{
    display: inline;
}
#business{
    display: inline;
}
#howsearchworks{
    display: inline;
}
#privacy{
    display: inline;
}
#terms{
    display: inline;
}
#settings{
    display: inline;
}

