#body{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
#top_bar{
    position: fixed;
    top: 3%;
}
#top_left{
    font-size: small;
    position: fixed;
    left: 2%;
}

#top_right{
    font-size: small;
    position: fixed;
    top: 1%;
    right: 1%;
}
#center-content{
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
}
#buttons{
    margin: 0 auto;
    margin-top: 3%;
    margin-left: 38%;
}
#bottom_content{

}
#left_bottom{
    font-size: small;
    border-style: solid;
    border: 5px;
    position: fixed;
    bottom: 1%;
    left: 1%;
    margin: 1%;
}
#right_bottom{
    font-size: small;
    position: fixed;
    bottom: 1%;
    right: 1%;
    margin: 1%;
}
#about{
    display: inline;
    padding: 10px;
}
#store{
    display: inline;
}
#gmail{
    display: inline;
    padding: 7px

}
#Images{
    display: inline;
    padding: 7px

}
#Google_Apps{
    display: inline;
    padding: 9px
}
#Sign-In{
    display: inline;
    padding: 7px
}
#google_logo{
    margin: 0 auto;
    margin-left: 25%;
    border: black;
}

#searchbar_assy{
    border-width: 1px;
    border: #dfe1e5;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 5%;
}
#magnifyingglass{
    display: inline;
}
#searchbar{
    display: inline-block;
    font-size: large;
    margin: 0 auto;

}
#textbox{
    border: 0;
}
#googlesearch{
    font-family: Arial;
    color: #222;
    border: #c6c6c6;
    background-color: #f8f8f8;
    border: 0;
    height: 8%;
    width: 20%;
}
#imfeelinglucky{
    font-family: Arial;
    color: #222;
    border: #c6c6c6;
    background-color: #f8f8f8;
    border: 0;
    height: 8%;
    width: 20%;
}

#advertising{
    padding: 8px;
    display: inline;
}
#business{
    padding: 8px;
    display: inline;
}
#howsearchworks{
    padding: 8px;
    display: inline;
}
#privacy{
    padding: 8px;
    display: inline;
}
#terms{
    padding: 8px;
    display: inline;
}
#settings{
    padding: 8px;
    display: inline;
}

